#hero {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

#hero h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

#temperatures {
    padding: 100px;
}

.chartWrapper {
    padding: 0;
    width: 100%;
    height: auto;
}

#tempChart {
    width: 100%;
    height: 100%;
}

.tableWrapper {
    margin-left: 30px;
    max-height: 500px !important;
    overflow: auto;
}

label {
    user-select: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    #temperatures {
        padding: 5px;
    }

    .chartWrapper {
        width: auto;
    }

    .tableWrapper {
        margin-left: 0;
    }
}