label {
    user-select: none;
    cursor: pointer;
}

input {
    margin: 5px;
    padding: 5px 10px 5px 10px;
}

#hero {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

#hero h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

#temperatures {
    padding: 100px;
}

#statusElm {
    font-size: 18px;
    color: orangered;
    text-align: center;
}

.chartWrapper {
    width: 100%;
    height: auto;
}

#tempChart {
    width: 100%;
    height: 100%;
}

.tableWrapper {
    margin-top: 40px;
    margin-left: 30px;
    max-height: 500px !important;
    overflow: auto;
}

@media screen and (max-width: 768px) {

    #temperatures {
        padding: 40px 5px 5px 5px;
    }

    .chartWrapper {
        padding: 0;
        height: 45vh;
        width: auto;
    }

    .tableWrapper {
        margin-left: 0;
    }
}

@media screen and (max-device-height: 768px) and (orientation: landscape) {
    .chartWrapper {
        height: 80vh;
    }
}